* {
    margin: 0;
    padding: 0;
}
body{
    width: 1366px;
    background: #f9f9f9;
    font-family: Open Sans, sans-serif;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.wraper{
    width: 960px;
    padding: 50px 50px 60px 50px;
     margin: 0 auto;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(171,171,171,1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(171,171,171,1);
    box-shadow: 0px 0px 8px -1px rgba(171,171,171,1);
}
/* Header */
.header{
    padding-bottom: 40px; 
}
.menu{
    margin-top: 40px;
background: #595959;
}
.menu li{
    list-style: none;
    float: left; 
}
.menu li:first-child,
.menu li:nth-child(2){
    border-right:1px solid #838383;
}
.menu a:not(.first_link_menu){
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-decoration: none;
    padding: 0px 43px;
    font-size: 14px; 
}
.first_link_menu{
   display: block;
    color: #ffffff;
    line-height: 40px;
    text-decoration: none;
    padding: 0px 43px 0px 25px;
    font-size: 14px; 
}
.menu a:hover{
    background: #454545;
}
/* /Header */

/* Container */
.sidebar{
    float: left; 
    width: 240px;
}
.bar{
    border: 1px solid #c8c8c8;
}
.bar li:first-child{
    border-top: none;
}
.bar li{
    border-top: 1px solid #c8c8c8;
    list-style: none;
}
.bar a{
    line-height: 40px;
    color: #807e7e;
    padding-left: 22px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.bar a:hover{
    background: #f9f9f9;
    color: #2c2c2c; 
    padding-left: 35px;
}
.filling{
    width: 678px;
    float: right;
}
.filling_image{
    border:1px solid #c8c8c8;
    text-align: center;
    padding:45px 0px;
}
.filling_text{
    padding: 40px 25px;
    text-align: justify;
    line-height: 20px;
    font-size: 13px;
    color: #2c2c2c;
}
/* /Container */

/* Footer */
.footer{
    background: #e1e1e1;
    line-height: 40px;
}
.footer_nav{
   float: left; 
    width: 80.6%;
}
.footer_menu li{
    float: left;
    list-style: none;
}
.footer_menu a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: #2c2c2c;
    padding: 0px 65px 0px 25px;
}
.footer_menu a:hover{
    text-decoration: underline;
}
.copyright{
    float: left;
    font-size: 13px;
    color: #2c2c2c;
}
/* /Footer */