*{
margin: 0;
padding: 0;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url(..//image/bg_3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: "Helvetica neuecyr light",Arial;
    font-size: 14px;
}
.wraper{
   margin: 0px auto;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
li{
    list-style: none;
}
a{
    color: #fefefe;
    text-decoration: none;
    letter-spacing: 0.3px;
}

/* Top Menu */
.menu{
    background:#074f8d;
}
.nav{
    width: 1124px;
    margin: 0 auto;
}
.menu li{
    float: right;
    line-height: 36px;
    padding:0px 13px;
}
.menu li a{
    display: block;
}
.right_menu li:nth-child(2){
    position: relative;
}
.left_menu li:nth-child(1){
    position: relative;
}
.left_menu li:nth-child(1):before{
    content:" ";
    position:absolute;
    border-right:1px solid #56a2dc;
    height: 30px;
 left: 66px;
    top: 3px;
}
.right_menu li:nth-child(2):after{
    content: url(..//image/Flag.png); 
  position: absolute;
    top: 6px;
    left:-12px;
}
.left_menu a{
    color: #60b5ed; 
}
.left_menu li:nth-child(1){
    margin-right: 30px;
}
.left_menu li:hover,
.left_menu li:hover a{
    background: #60b5ed;
    color:#fff;
}
.right_menu li:first-child{
background: rgba(79,175,219,1);
background: -moz-linear-gradient(top, rgba(79,175,219,1) 0%, rgba(46,121,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,175,219,1)), color-stop(100%, rgba(46,121,196,1)));
background: -webkit-linear-gradient(top, rgba(79,175,219,1) 0%, rgba(46,121,196,1) 100%);
background: -o-linear-gradient(top, rgba(79,175,219,1) 0%, rgba(46,121,196,1) 100%);
background: -ms-linear-gradient(top, rgba(79,175,219,1) 0%, rgba(46,121,196,1) 100%);
background: linear-gradient(to bottom, rgba(79,175,219,1) 0%, rgba(46,121,196,1) 100%);
}
.right_menu li:hover:nth-child(2),
.right_menu span{
    text-decoration:underline;
}

/* /Top Menu */

/*form*/
.panel_regist{
    margin: 214px auto 200px auto;
    text-align: center;
    width: 564px;
    padding: 20px 0px 24px 0px;
    border-radius: 4px;
    background: rgba(51,57,51,0.6);
    color: #fff;
}
.text_up_form{
    font-size:24px;
    padding-bottom:20px;
    border-bottom: 2px solid #c9cfc1;
}
button{
    color: white;
    margin-top: 35px;
    line-height:35px;
    border:1px solid #2e4476;
    font-size: 16px;
}
.button_facebook{
    background: #355192;
    width: 278px;
    border-radius: 5px;
    border-top: 1px solid #7889b7;
}
.button_facebook li:nth-child(2):after{
    content: ">";
    margin-left: 8px;
    font-weight: bold;
}
.button_facebook:hover{
    background: #3d5498;
    width: 278px;
    border-radius: 5px;
}
.button_facebook:active{
    background: #2a3d6d;
}
.button_facebook ul li{
    float: left; 
    display: block;
}
.button_facebook ul li:first-child{
    margin-left: 15px;
    font-size: 25px;
    font-weight: 600;
    padding-right: 15px;
    border-right: 1px solid #1d3c73;  
}
.button_facebook ul li:last-child{
    padding-left: 20px;
    border-left: 1px solid #4c68a2; 
}
/*----OU-----*/
.ou{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
     margin-top: 28px;
}
.ou span {
      color: #999999;
}
.ou span:before,
.ou span:after{
    content: " ";
    position:absolute;
    width: 124px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #000;
    margin-top: .6em;
}
.ou span:before{
     margin-left:-128px;
}
.ou span:after{
      margin-left: 4px;
}
  /*----/OU-----*/
.form_list ul li input{
    line-height: 32px;
    margin-bottom: 16px;
    width: 260px;
}
.form_list ul li input{
    background: #0f0e0e;
    border:none;
    border-bottom: 2px solid #484746;
    padding-left: 17px;
    color: white;
}
.form_list ul li input:hover{
    box-shadow: -webkit-box-shadow: 0px 0px 15px 3px rgba(70,130,172,1);
-moz-box-shadow: 0px 0px 15px 3px rgba(70,130,172,1);
box-shadow: 0px 0px 15px 3px rgba(70,130,172,1);
    border-bottom: 2px solid #689bcc;
    background: #1b5288;
}
.form_list li input:hover::-webkit-input-placeholder,
-moz-placeholder,
-moz-placeholder,
-ms-input-placeholder{
    color:#fffbfb;
}
.check_box{
    margin-left: -35px;
    margin-top: 4px;
}
.checkbox_text{
    color: #b1b0ad;
}
.submit_button button{
    padding: 0px 13px;
    border-radius: 5px;
    background: #2e7ac4;
    color:white;
    border-bottom: 1px solid #1b5288;
    border-top: 1px solid #67c6e6;
    margin-top: 20px;
}
.submit_button button:hover{
    background: #3589da;
}
.text_bottom{
    padding: 20px 125px 0px 125px;
    font-size: 11px;
    color:#9f9f9e;
}
/* /form */
