*{
margin: 0;
padding: 0;
}
.wraper{
width: 100%;
  margin: 0 auto;
}
@font-face {
font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
     font-family: 'league_gothicregular', Arial; 
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Header */
.wraper_size{
    max-width:960px;
    margin: 0px auto; 
}
.padding_wraper{
     padding-top: 60px;
    padding-bottom:172px;
}
header{
    background-image: url(../image/bg_new-min.jpg);
    width: 100%;
    height: 848px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 1px solid #000;
}
/* figure */
figure{
    float: left;
}
figure span{
    font-size: 48px;
    color: #ffffff;  
    text-shadow:1px 3px 2px #a8a1a2;
}
figure span:nth-child(2),
figure span:nth-child(3){
    text-shadow:none;
    color:rgba(114,79,129,1);
}
/* /figure */
/* nav */
.nav_menu{
    margin-left: 28.7%;
    height: 48px;
}
.nav_menu li{
    float: left;
    padding:0px 6px;
    margin-left: 38px;
    margin-top: 10px;
    margin-bottom: 10px
}
.nav_menu li:first-child {
    padding:0;
}
.nav_menu li:hover{
    border-bottom:2px solid #edbfff;
    cursor: pointer;
}
.nav_menu li a{
    color: #ffffff;
    font-size: 24px;
     text-decoration: none;
    text-shadow: 1px 1px 1px #696769;
}
/*HIDDEN MENU*/

.nav_submenu {
	display: none;
	position: absolute;
	width: 246px;
	border: 1px solid black;
	border-radius: 10px;
	background: rgba(54,41,46,0.75);
	z-index: 2; 
	top: -1px;
	left: 50%;
	margin-left: -124px;
}
.nav_submenu .nav_submenu_item {
	display: block;
	float: none; 
	text-align: center;
	border-bottom: 1px solid #35273d;
	border-top: 1px solid #695272;
}
.nav_submenu .nav_submenu_item{
	display: block;
	margin: 0 auto;
	line-height: 40px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
	color: white;
}
.nav_submenu .nav_submenu_item:first-child {
	border-top: none;
    
}
.nav_submenu .nav_submenu_item:first-child{
	border-radius: 10px 10px 0 0;
	border-top-left-radius: 10px; 
	line-height: 45px;
}
.nav_submenu .nav_submenu_item:last-child{
	border-bottom: none;
}

.nav_submenu .nav_submenu_item:last-child{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.nav_submenu .nav_submenu_item:hover {
	border-bottom: 2px solid #edbfff;
	background: rgba(54, 41, 62, 0.8);
}
/*HIDDEN MENU*/
/* karusel */
.karusel{
    background: rgba(101,94,113,0.5);
    height: 400px;
    width: 100%;
}
.left_karusel{
    float: left;
    width: 52.3%;
    padding-top: 67px;
    padding-bottom: 67px;
}
.left_right_slaid_btn{
    position: relative;
}
.left_slaid_btn_1:before,
.right_slaid_btn_1:after{
   content: " ";
   width: 25px;
   height: 35px;
   position: absolute;
   background: url(../image/left_and_right_slaid_btn.png) no-repeat;  
   top: 45%;
}
.left_slaid_btn_1:before{
    background-position: 0 0;
   position: absolute;
    left: -50px;
}
.left_slaid_btn .right_slaid_btn_1{
    float: right;
}
.right_slaid_btn_1:after{
    background-position: -25px 0;
     position: absolute;
   right: -50px;
}
.right_karusel{
    float:right;
    width: 47.4%;
    margin-top: -16px;
}
.right_karusel img{
    float: right;
    margin-right: 70px;
}
.karasel_lorem_ipsum{
    font-size:60px;
    color: #fefefe; 
    display: block;
    line-height:58px;
    letter-spacing: 0px;
    text-shadow:1px 3px 2px #504b51;
}
.karasel_lorem_ipsum_bottom{
    color: #edbfff;
    font-size: 32px;
    text-shadow:1px 3px 2px #504b51;
}
.text_left_karusel{
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.2px;
    font-family: 'Open Sans';
    text-shadow:1px 3px 2px #504b51;
}
.round_pick_slider{
    position: relative;
    width: 85px;
    margin-top: 70px;
}

.round_pick_slider_1,
.round_pick_slider_2,
.round_pick_slider_3,
.round_pick_slider_4{
    width: 21px;
	height: 20px;
	position: absolute;
	background: url(../image/round_pick_slider.png) no-repeat;
    background-position: 0 0;
}
.round_pick_slider_1:hover,
.round_pick_slider_2:hover,
.round_pick_slider_3:hover,
.round_pick_slider_4:hover{
    width: 20px;
	height: 20px;
	position: absolute;
	background: url(../image/round_pick_slider.png) no-repeat;
    background-position: -22px 0;
}
.round_pick_slider_2{
    margin-left: 22px;
}
.round_pick_slider_3{
    margin-left: 44px;
}
.round_pick_slider_4{
    margin-left: 66px;
}
/* /karusel */
/* /nav */
/* Header */
/* section_1 */
.section_1{
    width: 100%;
    height: 276px;
    background: rgba(116,80,130,1);
    background: -moz-linear-gradient(top, rgba(116,80,130,1) 0%, rgba(52,39,60,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,130,1)), color-stop(100%, rgba(52,39,60,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,130,1) 0%, rgba(52,39,60,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,130,1) 0%, rgba(52,39,60,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,130,1) 0%, rgba(52,39,60,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,130,1) 0%, rgba(52,39,60,1) 100%);
    border-bottom: 1px solid #000;
    padding-top: 66px;
}
.left_section_1{
    float: left;
    width: 28.6%;
}
.setting:before {
	content: '';
	width: 26px;
	height: 29px;
	position: absolute;
	top: 10px;
	background: url(../image/ikons.png) no-repeat;
    margin-left: -52px;
}
.chapter_section{
    position: relative;
    margin-left: 65px;
    font-size: 30px;
    text-shadow:1px 3px 2px #323133;
}
.center_section_1{
    float: left;
    width: 28.6%;
    margin-left: 68px;
    
}
.message:before {
	content: '';
	width: 26px;
	height: 29px;
	position: absolute;
	top: 10px;
	background: url(../image/ikons.png) no-repeat;
    background-position: -28px 0;
    margin-left: -52px;
}
.right_section_1{
    float: right;
    width: 28.6%;
    position: relative;
   
}
.sound:before {
	content: '';
	width: 30px;
	height: 29px;
	position: absolute;
	top: 5px;
	background: url(../image/ikons.png) no-repeat;
    background-position: -56px 0;
    margin-left: -52px;
}
.color_white{
    color: #ffffff;
    letter-spacing: 0.1px;
}
.chapter_text_bottom{
    font-size: 16px;
    font-family: Open Sans;
    text-shadow:1px 1px 2px #323133;
}
.text_more{
    font-size: 18px;
    float: right;
    margin-top: 20px;
    letter-spacing: 0.3px;
    text-shadow:1px 3px 2px #323133;
}
.text_more a:hover{
     text-shadow:0px 0px 20px #fff;
}
/* /section_1 */
/* article */
article{
    width: 100%;
    height: 470px;
    background: #f9f9f9;
}
.article_top_padding{
    padding-top:98px;
}
.bg_left{
    float: left;
    width: 434px;
}
.chapter_bg{
    background: #fff;
    height: 200px;
    margin-left: 20px;
    padding: 24px 44px 36px 44px;
}
.text_bg{
    font-size: 30px; 
    position: relative;
}
.round_pick{
    position: relative;
    margin: 0 auto;
    width: 87px;
}
.round_pick_1,
.round_pick_2,
.round_pick_3,
.round_pick_4{
    top: 38px;
    width: 21px;
	height: 20px;
	position: absolute;
	background: url(../image/round_pick.png) no-repeat;
    background-position: 0 0;
}
.round_pick_1:hover,
.round_pick_2:hover,
.round_pick_3:hover,
.round_pick_4:hover{
    width: 21px;
	height: 20px;
	position: absolute;
	background: url(../image/round_pick.png) no-repeat;
    background-position: -22px 0;
}
.round_pick_2{
    margin-left: 22px;
}
.round_pick_3{
    margin-left: 44px;
}
.round_pick_4{
    margin-left: 66px;
}

.ikons_man:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	top: -4px;
	background: url(../image/ikons_2.png) no-repeat;
    background-position: 0 0;
    margin-left: -66px;
}
.text_bg span{
    color: #eec4ff
}
.text_none{
    padding-top: 8px;
    text-shadow: none;
}
.bg_right{
    float: right;
    width: 450px;
    padding-top: 24px;
}
.text_bold{
    font-weight: bold;
}
.ikons_aught{
    position: relative;
    margin-bottom: 16px;
}
.ikons_aught_1:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	background: url(../image/ikons_2.png) no-repeat;
    background-position: -50px 0;
    margin-left: -66px;
}
.ikons_aught_2:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	background: url(../image/ikons_2.png) no-repeat;
    background-position: -100px 0;
    margin-left: -66px;
}
.ikons_aught_3:before {
	content: '';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	background: url(../image/ikons_2.png) no-repeat;
    background-position: -150px 0;
    margin-left: -66px;
}
.margin_left_text{
    margin-left: 65px;
}
.read_more_here{
    font-size: 18px;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}
.footer_article{
    border-top: 1px solid #e6e6e6;
    height: 120px;
    border-bottom: 1px solid #d8d8d8;
    background: #f9f9f9;
}
.img_logo{
    margin-top: 22px;
    margin-bottom: 30px;
    position: relative;
}
.logo_1,
.logo_2,
.logo_3,
.logo_4,
.logo_5,
.logo_6{
    position: absolute;
	top: 5px;
    background: url(../image/logo-min.png) no-repeat;
    width: 70px;
	height: 64px;
}
.logo_1{
    background-position: 0px 0;
    left: 92px;
}
.logo_2{
    background-position: -135px 0;
    left: 227px;
}
.logo_3{
	width: 67px;
    background-position: -269px 0;
    left: 361px;
}
.logo_4{
	width: 52px;
    background-position: -409px 0;
    left: 501px;
}
.logo_5{
	width: 106px;
    background-position: -526px 0;
    left: 618px;
}
.logo_6{
	width: 80px;
	height: 66px;
    background-position: -696px 0;
    left: 788px;
}
/* /article */
/* section_2 */
.section_2{
    width: 100%;
    height:312px;
    background: #ececec;
    padding-top: 88px;
    }
.section_2_content{
    position: relative;
}
.section_2_left{
    float: left;
    width: 28.6%;
}
.section_2_left span{
    color: #454545;
    font-size: 48px; 
    text-shadow:1px 1px 1px #a8a1a2;
}
.section_2_left span:nth-child(2),
.section_2_left span:nth-child(3){
    text-shadow:none;
    color:#b9b9b9;
}
.georgia_italic_text{
    font-size: 16px;
    font-style: italic;
    font-family: Georgia, Arial;
    color: #c5c5c5; 
}
.text_bottom_section_2{
    color: #787878;
}
.text_color_black-gray{
    color: #454545;
    line-height: 44px;
}
.section_2_center{
    float: left;
    width: 28.6%;
    margin-left: 62px;
}
.section_2_right .text_bg span,
.section_2_center .text_bg span{
    color: #454545;
}
.section_2_right .text_news_catigoties,
.section_2_center .text_news_catigoties{
    display: none;
}
.section_2_right{
    float: right;
    width: 28.6%;
}
/* /section_2 */
/* footer */
footer{
    height: 114px;
    background: url(../image/footer.jpg);
}
.nav_footer li{
    float: left;
    margin-right:40px; 
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.6px;
    text-shadow:1px 2px 1px #323133;
    margin-top: 44px;
}
.nav_footer li:hover{
   -webkit-box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
    box-shadow: 0px 2px 0px 0px rgba(237,191,255,1);
}
.footer_text{
    color:#ffffff;
    float: right;
    margin-top: 52px; 
    letter-spacing: 0.4px;
}
.footer_text p{
    font-size: 12px;
}
.footer_text p span{
   font-weight: bold;
} 
/* /footer */