*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0c739f;
	background-image: url('../image/bg.png');
	background-repeat: repeat-x;
    font-family: Open Sans, Arial sans-serif;
}
.wraper{
   width: 1000px; 
    margin: 0px auto;
    background: #fff;
    box-shadow: -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.75);
}

/* Header */
.header_up{
    background:#ffffff;
    padding: 11px 30px 0px 26px; 
}
span{
    display: block;
}
.letter_spac{
    letter-spacing: 0.7px;
}
.img_logo{
    line-height: 0;
    float: left; 
}
.kontakti{
    float:right;
    color: #5fa5bb;
    width:36.9%;  
}
.text_kontakt{
    float:right; 
     font-size: 12px;
}
ul li a span{
    letter-spacing: 0px;
}
.header_menu_flag {
    clear: right;
} 
.header_menu_flag li{
    float: left;
    list-style: none;
    text-align: center;
    font-size: 10px;
    margin-top: 28px;
}
li img{
    margin: 0px 8px;  
}
li img:hover{
    border-radius: 100px;
    box-shadow: -webkit-box-shadow: 0px 0px 16px -1px rgba(6,115,125,1);
-moz-box-shadow: 0px 0px 16px -1px rgba(6,115,125,1);
box-shadow: 0px 0px 16px -1px rgba(6,115,125,1);
}
li a{
    color: #128aa7;
}
.header_center{
    border-top: 1px solid #128aa7;
    border-bottom:1px solid #128aa7;
    line-height: 0px;
}
.header_menu{
    border-bottom: 1px solid #000;
    position: relative;
}
.nav_menu{
    text-align: center;
    background:#373737;
    border-top: 1px solid #cacbcb;
    box-shadow: -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.75);
}
small{
   font-size: 8px; 
}
.nav_menu li{
    display: inline-block;
    list-style: none;
    line-height: 28px; 
    position: relative;
}
.nav_menu a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    padding: 0px 30px;
}

/* drop-down menu */
.nav_menu ul{
	list-style:none;
	position:absolute;
	left:0px;
    opacity:0;
    left: -9999px;
    border-top: 1px solid black;
}
.nav_menu ul li{
	padding-top:1px; 
	float:none;
	background:#303030;
    box-shadow: -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75); 
}
.nav_menu ul a{
	white-space:nowrap; 
	display:block;
    width: 118px;
    padding-left:3px;
}
.nav_menu li:hover a{ 
	text-decoration:none;
}
.nav_menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0;
	opacity:1; 
}
.nav_menu li:hover ul a{ 
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
.nav_menu li:hover ul li a:hover{ 
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
/* /drop-down menu */
/* /Header */
/* Content */
.content{
    background:url(../image/content.png) repeat-y;
}
.clearfix:after{
    content:"";
    clear: both;
    display: block;
}
.left_info{
    float: left;
    width: 208px;
    background: #edeef0;
}
.center_info{
      float: left;
    width:582px;
}
.right_info{
    float: right;
    width: 208px;
    background: #edeef0;
}
.information{
    text-align: center;
    font-size:18px;
    color: #424c43;
    font-weight: bold;
    margin-top: 8px;
}
.text_information{
     padding: 2px 18px 8px 16px;
    color:#7d837f;
    font-size: 13px;
    line-height: 1.8;
}
/* /Content */

/* Footer */
.footer{
    text-align: center;
    color: #dee7ee;
    font-size: 12px;
}
/* /Footer */